.container{
    width: 60%;
    margin: auto;
}
.form__inputs {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 1rem;
}

.form__inputs label {
    margin-bottom: 5px;
    font-weight: 600;
}
.form__inputs input  {
    height: 1.6rem;
    border: 2px solid blueviolet ;
    border-radius: 4px;
}

.form__inputs select  {
    height: 1.9rem;
    border: 2px solid blueviolet ;
    border-radius: 4px;
}

.submit button{
        background-color: blueviolet; 
        border: none; 
        color: white; 
        padding: 8px 24px; 
        text-align: center; 
        text-decoration: none; 
        display: inline-block; 
        font-size: 16px; 
        margin: 4px 2px; 
        cursor: pointer; 
        border-radius: 4px; 
      }
      
